body{
    margin: 0;
    padding: 0;
}
.logo > img{
    width: 110px;
    height: 110px;
    border-radius: 40%;
    padding-left: 15px;
    padding-top: 5px;
}

.nav-items{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.nav-items > li{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    cursor: pointer;
    font-weight: 500;

}

.nav-items > .lgn-btn{
    display: flex;
    gap: 30px;
    font-size: large;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    background-color: greenyellow;
}

.Header{
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    background-color: cadetblue;

}

.search-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.search-container > input{
    border: 0.2px solid gainsboro;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    text-align: center;
}

.search-container > .search-btn{
    margin-left: 10px;
    background-color: black;
    color: white;
    width: 80px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.res-container{
    margin: 40px 150px;
    display: flex;
    flex-wrap: wrap;
    
}
.res-card{
    width: 300px;
    height: 400px;
}
.res-card > .res-img > img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.filter-container{
    display: flex;
    justify-content: center;
    padding-top: 1px;
}
.filter-btn{
    margin-left: 10px;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.filter-btn:hover{
    background-color: yellow;
    color: black;
    font-weight: 500;
}

.shimmer-card{
    margin: 40px 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.shimmer-container{
    
    width: 200px;
    height: 200px;
    background-color: lightgrey;
}

.shimmer-img{
    width: 10px;
    height: 10px;
    background-color: darkgray;
    padding: 50px;
}

.shimmer-info{
    width: 5px;
    height: 5px;
    background-color: darkgrey;
    padding: 2px 30px;

}


.shimmer-info2{
    width: 5px;
    height: 5px;
    background-color: darkgrey;
    padding: 15px 15px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: expanded;
    color: brown;

}